<p>&nbsp;</p>
<h3>Estimados:</h3>
<p>&nbsp;</p>
<h3>Informe correspondiente al turno <%=turno%> del <%=fechaInf%> no registra eventos</h3>
<p>&nbsp;</p>
<h3>Saludos cordiales, </h3>
<p></p>
<h3><%=remitente%></h3>
<h4>Soporte BIT</h4>
<h4>Ingeniería, Canal 13</h4>

